.available {
  background-color: #d9f9e6;
  color: #3bae7a;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  padding: 6px 12px;
  width: max-content;
  border-radius: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: max-content;
  text-decoration: none;
  transition: background-color 0.2s;
  &:hover {
    background-color: #c1e9d1;
    transition: background-color 0.2s;
  }
}
.dot {
  background-color: #3bae7a;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
.signal {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #3bae7a;
  position: relative;
  animation-name: signal;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes signal {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
