@mixin mq($width: "tablet") {
  @if ($width == "tablet") {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content;
    }
  } @else if($width == "desktop") {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      @content;
    }
  } @else if($width == "large") {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}
@mixin text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: $lightSecondary;
}

@mixin title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
